<%- include header %>
<% posts.forEach(function (item, index) { %>
<p><a href="/u/<%= item.name %>/<%= item.time.day%>/<%= item.title %>"><h2><%= item.title %></h2></a></p>
<p class="info">
    作者:<a href="/u/<%= item.name %>"><%= item.name %></a> |
    日期:<%= item.time.minute %>
</p>
<p><%- item.post %></p>
<% }) %>
<%- include paging %>
<%- include footer %>